* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
}

.section {
    align-items: normal;
    max-width: 100%;
}

img {
    width: 123px;
    height: 32px;
    margin: 10px;
    margin-left: 60px;
}

ul li a{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: start;
    margin-right: 60px;
    transition: 0.5s;
    font-weight: bold;
    font-size: 16;
}

.navbar {
    max-width: 92%;
}

.navbar a:hover {
    color: #e6e6e6;
}

ul {
    display:flex;
}

.section .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px;
}

.navbar ul li {
    display: flex;
    margin: 0;
    flex-direction:row;
    align-items: center;
}

#loginBtn {
    background-color: #F5F5F5;
    padding: 10px 30px;
    border-radius: 10px;
}

#loginBtn:hover {
    background-color: #fff;
}

.section-content-1 {
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.xl-headline {
    font-size: 64px;
    float: left;
    width: 60%;
    margin-top: 45px;
}

.subheadline {
    font-size: 20px;
    width: 40%;
    max-width: 40;
    margin-top: 30px;
}

.blue-btn {
    background-color: #4891FF;
    border-radius: 16px;
    padding: 16px 32px;
    list-style-type: none;
    text-decoration: none;
    color: #F5F5F5;
    transition: 0.5s;
    margin-right: 20px;
    max-height: 59px;
    max-width: 166px;
    margin-top: 20px;
}

.blue-btn:hover {
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 16px 32px;
    list-style-type: none;
    text-decoration: none;
    color: #4891FF;
}

.gray-btn {
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 16px 32px;
    list-style-type: none;
    text-decoration: none;
    color: #131316;
    transition: 0.5s;
    margin-right: 20px;
    max-height: 59px;
    max-width: 212px;
    margin-top: 20px;
    line-clamp: 1;
}

.gray-btn:hover {
    background-color: #e2e1e1;
    border-radius: 16px;
    padding: 16px 32px;
    list-style-type: none;
    text-decoration: none;
    color: #F5F5F5;
}

.buttons {
    display: flex;
    max-width: 30%;
    justify-content: space-between;
}

#graph {
    width: 465px;
    height: 413px;
    margin-left: -60px;
}

#capodera {
    width: 612px;
    height: 272px;
}

#call {
    width: 190px;
    height: 480px;
}

.three-images img {
    margin: -100px 10px;
}

.get-started {
    background-color: #131316;
    color: #F5F5F5;
    margin-top: 100px;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started p {
    font-size: 48px;
    margin: 40px;
    max-width: 53%;
    text-align: center;
}

.get-started img {
    width: 835px;
    height: 486px;
}

hr {
    margin: 30px;
    width: 60%;
}

.short-section {
    height: 80vh;
    background-color: #131316;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

.short-section .title {
    font-size: 48px;
    float: left;
    max-width: 55%;
}

.cards {
    display: flex;
    margin-top: 60px;
}

.card {
    background-color: #FAFAFA;
    color: #131316;
    width: 405px;
    max-height: 452px;
    height: fit-content;
    margin: 0 2rem;
    padding: 30px;
    border-radius: 16px;
}

.card .card-name {
    font-weight: bold;
    margin-top: 30px;
}

.card .card-company {
    font-style: italic;
}